.node{
    display: flex;
    width: 32rem;
    height: 45px;
    justify-content: space-between;
    border: 0.5px solid rgba(255, 255, 255, 0.406);
    background-color: rgba(232, 232, 232, 0.65);
    padding-left: 8px;
    padding-right: 2px;
    margin-top: 5px;
}

.node_item{
    display: flex;
    align-items: center;
    gap: 5px; 
    cursor: pointer;
}

.folder{
    width: 20px;
    height: 20px;
}

.arrow{
    width: 15px;
    height: 15px;
    margin-right: 4px;
    cursor: pointer;
}

.arrow.active{
    transform: rotate(45deg);
}

.node_item p{
    font-weight: bold;
    font-size: 17px;
}

.action{
    display: flex;
    align-items: center;
    gap: 5px;
}

.action button{
    padding: 5px 12px;
    font-size: 14px;
    border: none;
}

.addbtn{
    background-color: rgb(3, 148, 3);
    border-radius: 2px;
    color: rgb(223, 223, 223);
}

.addbtn:hover{
    background-color: rgb(2, 123, 2);
    border-radius: 2px;
    color: white;
}

.deletebtn{
    background-color: rgb(194, 3, 3);
    border-radius: 2px;
    color: rgb(223, 223, 223);
    margin-right: 5px;
}

.deletebtn:hover{
    background-color: rgb(214, 0, 0);
    border-radius: 2px;
    color: white;
}

@media(max-width:600px){
    .node{  
        width: 80%;
        height: 45px;    
    }
}

@media(max-width:400px){
    .node{ 
        width: 80vw;
        height: 45px;
    }

    .node_item p{
        font-weight: bold;
        font-size: 15px;
    }
}